// COLORS
$color-primary-red: hsl(0, 100%, 74%);
$color-primary-green: hsl(154, 59%, 51%);

$color-accent-blue: hsl(248, 32%, 49%);

$color-neutral-dark-blue: hsl(249, 10%, 26%);
$color-neutral-grayish-blue: hsl(246, 25%, 77%);

// FONT
$font-default: 'Poppins', sans-serif;
